<HTML>
    <head>
    <TITLE>Помехозащитное кодирование</TITLE>
    <link rel = "stylesheet" href="style.css">
    <link rel = "stylesheet" href="table.css">
    </head>

    <BODY>
        <div class="header">
            <div class="header-left">
                Теория информации <br> Лабораторная №4
            </div>
            <div class="header-right">
            <form action="main.html"><input class="button-style" type="submit" value="Главная"></form>     
            <form action="allversions.html"><input class="button-style" type="submit" value="Все варианты"></form>
            <form action="newvariant.html"><input class="button-style" type="submit" value="Новый вариант"></form>
            </div>       
        </div>
        <div>
            <div class="tableblock">
                <table id="table" class="datatable">
                    <caption>Таблица вариантов</caption>
                    <tr>
                        <th>№ варианта <br> (перейти)</th>		
                        <th>Информационный байт</th>
                        <th>Код Хемминга с ошибкий</th>                    
                    </tr>
                    <tr>
                        <th class="tablelink" onclick="window.location='version/1.html'">1</th>
                        <td>01100011</td>
                        <td>011010100011</td>				
                    </tr>
                    <tr>
                        <th class="tablelink" onclick="window.location='version/2.html'">2</th>
                        <td>11100010</td>
                        <td>100100101000</td>	
                    </tr>
                    <tr>
                        <th class="tablelink" onclick="window.location='version/3.html'">3</th>
                        <td>00101011</td>
                        <td>001111111011</td>	
                    </tr>
                    <tr>
                        <th class="tablelink" onclick="window.location='version/4.html'">4</th>
                        <td>10101010</td>
                        <td>110111110011</td>	
                    </tr>
                    <tr>
                        <th class="tablelink" onclick="window.location='version/5.html'">5</th>
                        <td>10000011</td>
                        <td>111011010001</td>	
                    </tr>
                    <tr>
                        <th class="tablelink" onclick="window.location='version/6.html'">6</th>
                        <td>01000010</td>
                        <td>011101110111</td>	
                    </tr>
                    <tr>
                        <th class="tablelink" onclick="window.location='version/7.html'">7</th>
                        <td>11001110</td>
                        <td>000101100111</td>	
                    </tr>
                    <tr>
                        <th class="tablelink" onclick="window.location='version/8.html'">8</th>
                        <td>00101101</td>
                        <td>011010111110</td>	
                    </tr>
                    <tr>
                        <th class="tablelink" onclick="window.location='version/9.html'">9</th>
                        <td>01001111</td>
                        <td>100110101111</td>	
                    </tr>
                    <tr>
                        <th class="tablelink" onclick="window.location='version/10.html'">10</th>
                        <td>11101110</td>
                        <td>110100111010</td>	
                    </tr>
                    <tr>
                        <th class="tablelink" onclick="window.location='version/11.html'">11</th>
                        <td>01101111</td>
                        <td>111001110111</td>	
                    </tr>
                    <tr>
                        <th class="tablelink" onclick="window.location='version/12.html'">12</th>
                        <td>10100010</td>
                        <td>100001100010</td>	
                    </tr>
                    <tr>
                        <th class="tablelink" onclick="window.location='version/13.html'">13</th>
                        <td>00100010</td>
                        <td>011101111000</td>	
                    </tr>
                    <tr>
                        <th class="tablelink" onclick="window.location='version/14.html'">14</th>
                        <td>11001011</td>
                        <td>101001110011</td>	
                    </tr>
                    <tr>
                        <th class="tablelink" onclick="window.location='version/15.html'">15</th>
                        <td>11001000</td>
                        <td>110101011011</td>	
                    </tr>
                    <tr>
                        <th class="tablelink" onclick="window.location='version/16.html'">16</th>
                        <td>00010001</td>
                        <td>001111101010</td>	
                    </tr>
                    <tr>
                        <th class="tablelink" onclick="window.location='version/17.html'">17</th>
                        <td>01001111</td>
                        <td>100110110111</td>	
                    </tr>
                    <tr>
                        <th class="tablelink" onclick="window.location='version/18.html'">18</th>
                        <td>11000110</td>
                        <td>010100110110</td>	
                    </tr>
                    <tr>
                        <th class="tablelink" onclick="window.location='version/19.html'">19</th>
                        <td>01100111</td>
                        <td>100100100110</td>	
                    </tr>
                    <tr>
                        <th class="tablelink" onclick="window.location='version/20.html'">20</th>
                        <td>10100111</td>
                        <td>010101111001</td>	
                    </tr>
                    <tr>
                        <th class="tablelink" onclick="window.location='version/21.html'">21</th>
                        <td>00101110</td>
                        <td>001011101100</td>	
                    </tr>
                    <tr>
                        <th class="tablelink" onclick="window.location='version/22.html'">22</th>
                        <td>11011111</td>
                        <td>001001101000</td>	
                    </tr>
                    <tr>
                        <th class="tablelink" onclick="window.location='version/23.html'">23</th>
                        <td>01010100</td>
                        <td>110100111011</td>	
                    </tr>
                    <tr>
                        <th class="tablelink" onclick="window.location='version/24.html'">24</th>
                        <td>11010001</td>
                        <td>001111110011</td>	
                    </tr>
                    <tr>
                        <th class="tablelink" onclick="window.location='version/25.html'">25</th>
                        <td>00000011</td>
                        <td>010011100011</td>	
                    </tr>
                    <tr>
                        <th class="tablelink" onclick="window.location='version/26.html'">26</th>
                        <td>11000011</td>
                        <td>011000011011</td>	
                    </tr>
                    <tr>
                        <th class="tablelink" onclick="window.location='version/27.html'">27</th>
                        <td>01001010</td>
                        <td>110100101010</td>	
                    </tr>
                    <tr>
                        <th class="tablelink" onclick="window.location='version/28.html'">28</th>
                        <td>10101011</td>
                        <td>110000111001</td>	
                    </tr>
                    <tr>
                        <th class="tablelink" onclick="window.location='version/29.html'">29</th>
                        <td>00110110</td>
                        <td>100111110100</td>	
                    </tr>
                    <tr>
                        <th class="tablelink" onclick="window.location='version/30.html'">30</th>
                        <td>11110101</td>
                        <td>001100111010</td>	
                    </tr>
                </table>
            </div>
        </div>
    </BODY>
</HTML>