<!DOCTYPE html>
<HTML>

<head>
  <meta charset="UTF-8">
  <TITLE>Помехозащитное кодирование</TITLE>
  <link rel="stylesheet" th:href="@{/styles/style.css}">
</head>

<BODY>
  <div class="header">
    <div class="header-left">
      Теория информации <br> Лабораторная №4
    </div>
    <div class="header-right">
      <form action="/"><input class="button-style" type="submit" value="Главная"></form>
      <form action="/version/all"><input class="button-style" type="submit" value="Все варианты"></form>
      <form action="/version/new"><input class="button-style" type="submit" value="Новый вариант"></form>
    </div>
  </div>

  <div>
    <img src="https://i.ibb.co/87R1Q1Z/image.png">
  </div>
  <div>
    место под мемы
  </div>

</BODY>

</HTML>