.body
{
	background-color: #032D61;
	color: #ffffff;
}
caption
{
	font-weight: 700;
	margin-bottom: 20px;
	font-size: 20;
}
.datatable, td, th
{
	border-collapse: collapse;
	border: 2px solid #550000db;
	text-align: center;
}
td
{
	padding-left: 5px;
	padding-right: 5px;
    background-color: #A81607;
	font-size: 16;
}
.tablelink
{
    display: table-cell;
    text-decoration: underline;
    color: #ffffff;
    cursor: pointer;
}
.tableblock
{
	margin-top: 15px;
	display: flex;
	align-items: center;
	width: 100%;
}
.datatable
{
	width: 98%;
	margin-left: auto;
	margin-right: auto;
}
th
{
	background-color: #A81607;
	font-weight: 700;
	margin: 5%;
	font-size: 16;
}

@font-face {
	font-family: 'NeueMachina-Light'; 
	src: local('NeueMachina-Light'),
		url(/fonts/NeueMachina-Light.ttf); 
}